.swp
.Makefile.swp
.DS_Store
./private_builds/*
./private_builds/novoalign/*
./private_builds/novoalign/novoalign.lic
./private_builds/novoalign/novosort*
./private_builds/novoalign/novocraft*
./private_builds/gatk/*
./private_builds/gatk/GenomeA*
