Fastq_file_prefix	ReadGroup_sample_RGSM	ReadGroup_id_RGID	ReadGroup_library_RGLB	ReadGroup_platform_RGPL	ReadGroup_platform_unit_RGPU	ReadGroup_SeqCentre_RGCN	ReadGroup_Desc_RGDS	ReadGroup_runDate_RGDT	QUAL	Pipeline	PE	bed_list	bed_type	email_bioinf	Fastq_dir	BAM_dir	pipeline_dir
L2-5_S5_L001	patientx	Patientx.TrueSeq_cancer.illumina	TrueSeq_cancer	illumina	M00675	Mol_path	Cancer_Panel	2013-10-10	STDFQ	ngs_master_workflow.sh	1	cancer	region	stephen.newhouse@kcl.ac.uk	/scratch/project/pipelines/ngs_pipeline_dev/aditi_fastq	/home/snewhousebrc/scratch	/home/snewhousebrc/scratch/pipelines/ngs/molpath_ngs_dev
IonXpress	patientx	Patientx.HaloPlex_cancer.IonTorrent	HaloPlex_cancer	IONTORRENT	9NBQI	Mol_path	Cancer_Panel	2013-10-10	STDFQ	ngs_master_workflow.sh	0	cancer	region	stephen.newhouse@kcl.ac.uk	/scratch/project/pipelines/ngs_pipeline_dev/aditi_fastq	/home/snewhousebrc/scratch	/home/snewhousebrc/scratch/pipelines/ngs/molpath_ngs_dev
