Fastq_file_prefix	ReadGroup_sample_RGSM	ReadGroup_id_RGID	ReadGroup_library_RGLB	ReadGroup_platform_RGPL	ReadGroup_platform_unit_RGPU	ReadGroup_SeqCentre_RGCN	ReadGroup_Desc_RGDS	ReadGroup_runDate_RGDT	QUAL	Pipeline	PE	bed_list	email_bioinf	Fastq_dir	BAM_dir	pipeline_dir	Novoalign_V	Picard_V	GATK_V	samtools_V
L2-5_S5_L001	patientx	Patientx.TrueSeq_cancer.illumina	TrueSeq_cancer	illumina	M00675	Mol_path	Cancer_Panel	2013-10-10	STDFQ	ngs_master_workflow_1.3.sh	1	cancer	stephen.newhouse@kcl.ac.uk	/scratch/project/pipelines/ngs_pipeline_dev/aditi_fastq	/scratch/project/pipelines/ngs_pipeline_dev/ngs_molpath_sjn	/home/snewhousebrc/scratch/pipelines/ngs/molpath_ngs	Novoalign V3.01.01	Picard-tools_1.91	Gatk_2.5.2	Samtools_0.1.18
IonXpress	patientx	Patientx.HaloPlex_cancer.IonTorrent	HaloPlex_cancer	IONTORRENT	9NBQI	Mol_path	Cancer_Panel	2013-10-10	STDFQ	ngs_master_workflow_1.3.sh	0	cancer	stephen.newhouse@kcl.ac.uk	/scratch/project/pipelines/ngs_pipeline_dev/aditi_fastq	/scratch/project/pipelines/ngs_pipeline_dev/ngs_molpath_sjn	/home/snewhousebrc/scratch/pipelines/ngs/molpath_ngs	Novoalign V3.01.01	Picard-tools_1.91	Gatk_2.5.2	Samtools_0.1.18

